/* General Page Styling */
body {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    background-color: yellow;
    color: black;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

/* Button Styling */
a {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

a:hover {
    background-color: gray; /* Button hover effect */
}

/* Ordered List Styling */
ol {
    text-align: left;
    display: inline-block;
    margin: 20px auto;
    padding: 0;
    list-style-type: decimal;
}
/* Standard bullet style */
ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
}
li {
    margin-bottom: 15px;
}
